/* Search input, lo customizamos un poquito */
.section-search input{
    padding: 5px !important;
    font-size: 18px !important;
    width: 90% !important;
    border: #f4f4f4 3px solid !important;
}

/* Social icons */
.section-follow .fab{
    margin: 5px 10px;
}

/* Imgs Gallery */
/* Estas clases las vi inspeccionando el elemento */
.section-gallery .material-placeholder{
    margin: 10px !important;
}

.materialboxed.active{
    margin-left: -8px;
}